{% extends 'base.html'%}
{% block title %}Khalid Gharib{% endblock %}


{% block content%}
            <div class='container'>
			<section class="banner-area">
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 col-xs-6 banner-left">
            <br><br><br><br>
							<h1 class="mt-10 mb-20">Khalid Gharib</h1>
							<p>
								Data Scientist/Analyst. Aspiring to be a positive impact on others through Data.
							</p>
              <br/><br/><br/> 
						</div>
						<div class="col-lg-6 col-md-6 col-xs-6 banner-right align-self-center">
							<img src="{{url_for('static', filename='media/LinkedIn2.jpg')}}" class="rounded float-left rounded-circle mx-auto" style="width:10cm;height:11cm;max-width:100%;">
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			<!-- Start home-about Area -->
	  <br/><br/>
	  
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row align-items-center justify-content-between personal-details">
							<h1 class="text-uppercase" style="color:Black; font-weight:bold;">Personal Details</h1>
							<br>
							<br><br>
							<!-- <blockquote class="generic-blockquote">  -->
							<p class="fz-16" style="font-weight: normal;">
							Data Scientist with a Business Management Background, a strong desire to be a positive force in the world through my knowledge and skills.
							Highly analytical thinker with demonstrated talent for identifying, scrutinizing, analyzing, improving, and streamlining complex work processes.
							</p>
							<p class="fz-16" style="font-weight: normal;">
							I recently started working as a Data Scientist/Data Engineer at Medwise. My work mainly revolves around extracting Data from a number of different UK and Internationally accredited 
							websites. We collect medical conditions/diseases and sicknesses, commonly asked Questions & Answers using web scraping and other tools and compile all this information
							into JATS format in order to make storing, accessing and adding to it with ease.
							<br/><br/>
							The end goal was to allow this data to be format ready to be used for Machine Learning and Deep Learning in order to 
							produce a Query-Answering Software to help aid and speed a doctor/medical experts decision making.
							</p>
							<!-- </blockquote> -->
					</div>
				</div>
			</section>
			<!-- End home-about Area -->
<div clss="container">
<hr>
</div>
			<!-- Start services Area -->
			<section class="services-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center"> 
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10" style="color:Black; font-weight:bold;">Areas of Interest</h1>
		                        <p> 
								Have a look at some of the things im interested in.
								</p>
                        </div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-cloud-check"></span>
                	<a><h4 style="font-weight: 500;">Machine Learning</h4></a>
								<p>
								Machine learning is more than just applying different learners from scikit-learn. It is a real skill to be able to apply them correctly and logically and is something 
                  				I find alot of interest in, and especially love when a project comes to fruition and you get real actionable results which have more implications than just accuracy.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-bubble"></span>
								<a><h4 style="font-weight: 500;">NLP</h4></a>
								<p>
								NLP projects are some of the most interesting, I've enjoyed the NLP projects i've done because there is more to it than just applying a leaner, their is alot of 
								preprocessing that is involved and it requres alot of logic and thinking to know what you want the data input to look like.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-graduation-hat"></span>
								<a><h4 style="font-weight: 500;">Power BI</h4></a>
								<p>
								Power BI is one of the analytic softwares that the more I've used the more I appreciate the tools and kit it can bring. The visualization that you can do with it
								is one of the best and is one of the best tools I've used when I have to do both a techinical and non-technicl presentation of the Data
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-laptop-phone"></span>
                			<br/><br/>
							<a><h4 style="font-weight: 500;">Data Anaylsis</h4></a>
								<p>
								I love making the data tell a story. Being able to extract and then present information in a beautiful way is one of my passions.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-chart-bars"></span>
                			<br/><br/>
								<a><h4 style="font-weight: 500;" >Flask and Website development</h4></a>
								<p>
								Something i recently found a love for, using Flask and Python as well as other tools such as Bootstrap and Jinja I was able to build this website which was a lot of fun.
								I hope to contiue to develop and improve on this website.
								<p>
							</div>
            			</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-chart-bars"></span>
                		<br/><br/>
								<a><h4 style="font-weight: 500;">Webscraping</h4></a>
								<p>
								I stated learning and developing my webscraping skills as I felt that alot of times I couldnt find the exact data set I wanted for the project I had in mind, or even that I did but it was so unclean and
								had alot of missing values. I have used this skill continually in my internship
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End services Area -->
	<hr>
	<section class="home-about-area section-gap">

			<div class="text-center">
					<div class="menu-content">
							<div class="title text-center">
									<h1 class="mb-10" style="color:Black; font-weight:bold;">Skills and Expertise</h1>
						  </div>
					</div>
          <br/>
			</div>
<div class="container">
		<div class="row skillbar-wraps">
			<div class="col-lg-4 skill-left">
				<div class="single-skill">
					<p>
						Databases (SQL)
					</p>
          <p>
						Python
					</p><p>
						Machine Learning
					</p><p>
						Deep Learning
					</p><p>
						Modelling  					
				</div>
			</div>
			<div class="col-lg-4 skill-right">
				<div class="single-skill">
					<p>
						Webscraping
					</p>
				</div>
				<div class="single-skill">
					<p>
						Flask
					</p>
				</div>
				<div class="single-skill">
					<p>
						Github
					</p>
				</div>
				<div class="single-skill">
					<p>
						Data Visualisation
					</p>
				</div>
				<div class="single-skill">
					<p>
						Power BI
					</p>
				</div>
			</div>
			<div class="col-lg-4 skill-right">
				<div class="single-skill">
					<p>
						Statistics
					</p>
				</div>
				<div class="single-skill">
					<p>
						Pytorch
					</p>
				</div>
				<div class="single-skill">
					<p>
						Scikit-Learn
					</p>
				</div>
				<div class="single-skill">
					<p>
						Keras
					</p>
				</div>
				<div class="single-skill">
					<p>
						TensorFlow
					</p>
				</div>
			</div>
		</div>
	</div>
	</section>
<hr>
<!-- Start recent Project Area -->
<section class="recent-project-area section-gap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 pb-30 header-text">
				<h1 style="color:Black; font-weight:bold; text-align: center;">My Favourite Projects</h1>
				<p style="text-align: center;">
				These are some of the projects i enjoyed doing
				</p>
			</div>
		</div>
		<div class="row">
			<!-- First Project Slide -->
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://github.com/KGharib/Finding-Potential-Customers-to-advertise-Carribean-Holiday-Tour	" target="_blank">
					<img class="f-img img-fluid" src="{{url_for('static', filename='media/Carribean_holiday2.jpg')}}" style="width:330px;height:215px;" alt="">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
				</div>
				<a href="https://github.com/KGharib/Finding-Potential-Customers-to-advertise-Carribean-Holiday-Tour" target="_blank">
				</br>
					<h4> Carribean Holiday Tour </h4>
				</a>
				<p>
				Using a limited advertising budget we help a Holiday tour company find potential customers who are most likely to be interested and purchase a Carribean Holiday Tour. 
				</p>
			</div>

			<!-- Second Project Slide -->
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://github.com/KGharib/How-does-Social-Environmental-factors-affect-Life-Expectancy-in-Counties-in-the-USA" target="_blank">
					<img class="f-img" src="{{url_for('static', filename='media/LE.jpg')}}" style="width:330px;height:215px;" alt="" height="242">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
				</div>
				<a href="https://github.com/KGharib/How-does-Social-Environmental-factors-affect-Life-Expectancy-in-Counties-in-the-USA" target="_blank">
				</br>
					<h4>Predicting Life Expectanancy based on Social Environmental factors</h4>
				</a>
				<p>
				Predict which Social Environmental factors contribute most to loss of life expectancy in different counties in order to target and improve upon them.
				</p>
			</div>

			<!-- Third  Project Slide -->
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://github.com/KGharib/Predicting-Sentiment-on-Amazon-Reviews" target="_blank">
					<img class="f-img" src="{{url_for('static', filename='media/NLP.jpg')}}" style="width:330px;height:215px;" alt="" height="242">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
				</div>
				<a href="https://github.com/KGharib/Predicting-Sentiment-on-Amazon-Reviews" target="_blank">
				</br>
					<h4>NLP - Amazon Sentiment Anaylsis</h4>
				</a>
				<p>
				Predicting from a Amazon product and service review dataset whether a sentence has a positive or negative sentiment using NLP libraries such as nltk, sklearn and Keras(LSTM).
				</p>
			</div>

		</div>
	</div>
</section>
<!-- End recent Project Area -->

<!-- <hr> -->
<!-- Start recent Blog Area-->
<!-- <section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 pb-30 header-text">
				<h1 style="color:Black; font-weight:bold; text-align: center;">My Latest Blogs</h1>
				<p style="text-align: center;">
					My most recent Blog posts on Medium
				</p>
			</div>
		</div>
		<div class="row">

			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://towardsdatascience.com/automating-aws-server-shut-down-for-deep-learning-5d5de1301c70" target="_blank">
					<img class="f-img img-fluid" src="img/medium2.jpg" alt="">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">

					<div class="meta">
						Jan 20, 2020
					</div>
				</div>
				<a href="https://github.com/KGharib/Finding-Potential-Customers-to-advertise-Carribean-Holiday-Tour" target="_blank">
					<h4>Automating AWS EC2 Shutdown with Bash Scripts </h4>
				</a>
				<p>
					A helpful tutorial I wrote recently on how to set up a Bash script that utilized the AWS CLI to start, log into, then shutdown an EC2 instance. (I didn't want to forget the instance was running and lose money)
				</p>
			</div>

			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://github.com/harrisonjansma/2019_Notes/tree/master/ML/NLP/PyTorch%20RNN%20Implementations" target="_blank">
					<img class="f-img" src="img/alg.jpg" alt="" height="242">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div class="meta">
						Dec 10, 2019
					</div>
				</div>
				<a href="https://github.com/harrisonjansma/2019_Notes/tree/master/ML/NLP/PyTorch%20RNN%20Implementations" target="_blank">
					<h4>RNNs, LSTMs, and Attention Mechanisms for Language Modelling (PyTorch)</h4>
				</a>
				<p>
				  Tested the use of Word2Vec embeddings with a variety of sequential input deep learning models towards the task of language modeling (predicting the next word in a sentence).
				</p>
			</div>

			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<a href="https://github.com/harrisonjansma/DavisBase" target="_blank">
					<img class="f-img" src="https://images.all-free-download.com/images/graphiclarge/vintage_database_icons_vector_536187.jpg" alt="" height="242">
				</a>
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">

					<div class="meta">
						Dec 2, 2019
					</div>
				</div>
				<a href="https://github.com/harrisonjansma/DavisBase" target="_blank">
					<h4>DavisBase: A Custom Designed Database (Python)</h4>
				</a>
				<p>
					  A fully functional, SQL-compliant database implemented from scratch in Python. DavisBase compresses data to a custom-designed bit-level encoding for maximal data compression. By utilizing a file size of 512Kb, DavisBase performs well in low memory environments while also maximizing query time.
				</p>
			</div>
		</div>
	</div>
</section> -->
<!-- End recent Blog Area -->
</br></br></br>



			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>
    		<script src="js/jquery.tabs.min.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>
            <script src="js/isotope.pkgd.min.js"></script>
			<script src="js/waypoints.min.js"></script>
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/simple-skillbar.js"></script>
			<script src="js/owl.carousel.min.js"></script>
			<script src="js/mail-script.js"></script>
			<script src="js/scroll.js"></script>
			<script src="js/main.js"></script>
            </div>
      <main>
        {% block main %}{% endblock %}
      </main>


      
{% endblock %}