{% extends 'base.html'%}
{% block title %}Khalid Gharib{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="media px-2">
         <img src="{{url_for('static', filename='media/LinkedIn2.jpg')}}" style="width: 11cm; height: 12cm;" class="rounded float-left rounded-circle mx-auto" alt="...">
        </div>
        <br/>
        <br/><br/>
        <div>
            <h1 style="margin-left: 140px; font-style: Arial, Helvetica, sans-serif; font-size: 13mm; font-weight: 700; color: black;">About Me</h1>
            <p style="margin-left: 140px; margin-right:140px; font-style: Arial, Helvetica, sans-serif; font-size: 5mm; color: black;"> 
            <br/>
            After finishing my Degree in Business Management at Brunel University I felt inspired to find something I was more passionate about.
            I spent some time in self-reflection and did research on the type of career I wanted to see myself in. 
            That's when I came across Data Science, It was a new world and once I started researching and learning about Data Science I never stopped,
            it grew into a passion for me and I committed my self to learn everything I possibly could related to Data Science, Machine Learning and everything else I could find online.
            <br/><br/>
            From there I began the journey of Self-learning and spent a great deal of time doing every YouTube, Udemy, Udacity course you can think of and started applying it in multiple Kaggle projects,
            and then I made the decision to join a Data Science Bootcamp in order to develop my skills to a level where I could see myself making it a full-time career and made also some great friends along the way.
            <br/><br/>
            My aim is to meet both a professional and personal goal by being a positive force on people and society and achieving business goals through the skills and knowledge I have learned and developed as a Data Scientist.  
            </p>
        </div>
    </div>

    </br></br>
    <hr>
    </br></br>

    <!-- Timeline -->
    <h1 style="font-style: Arial, Helvetica, sans-serif; font-size: 13mm; font-weight: 700; color: black; text-align: center;">My Experience</h1>
        </br></br>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
       
        <!-- The Timeline -->
        <ul class="timeline">
            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag" style="margin-left: 0.09cm;" >2017</span>
                    </div>
                    <div class="desc">Graduated with a 2.1 in Business Managment and Accounting from Brunel University</div>
                    <div class="desc">IBM-Python Basics for Data Science</div>
            </li>
            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag" style="margin-right:0.03cm;">2018.</span>
                    </div>
                    <div class="desc">PA/Anaylst Internship at Al-Salaam Private School</div>
                    <div class="desc">Udacity Data Anaylst Nano Degree</div>
                    <div class="desc">Udacity Intro to Computer Science </div>
                    <div class="desc">Udacity Intro into Machine Learning </div>
                    <div class="desc">Udacity Machine Learning Course</div>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag" style="margin-left: 0.06cm;">2019</span>
                    </div>
                    <div class="desc">Udemy Web Scraping 101 with Python3 using REQUESTS, LXML & SPLASH</div>
                    <div class="desc">Udemy Modern Web Scraping with Python using Scrapy Splash Selenium</div>
                    <div class="desc">Udacity Deep learning with Pytorch</div>
                    <div class="desc">Udacity Digital Marketing Nano Degree</div>
                    <div class="desc">Flatiron Data Science Bootcamp Intensive</div>

                </div>
            </li>
            <!-- Item 4 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag" style="margin-right: 0.03cm;">2020.</span>
                    </div>
                    <div class="desc">Udemy Microsoft Power BI - Up & Running With Power BI Desktop</div>
                    <div class="desc">Contract Work - Quality Control Anaylst at Manning</div>
                    <div class="desc">Contract Work - Digital Marketer at Al-Salam Community School</div>
                    <div class="desc">Data Scientist/Data Engineer at Medwise</div>
                </div>
            </li>
        </ul>
    <!-- Timeline -->

    </br></br>
    <hr>
    </br></br>

    <!-- Accordion -->
    <head>
        <div class="container">
            <html>
                <body>
                <h1 style="text-align: center;">More about me</h1>
                </br></br>                
                <button class="accordion" style="font-weight: 700; font-size: medium;"> How long have you been practicing Data Science for ? </button>
                <div class="panel">
                  </br>
                  <p>
                    I have been studying and practicing for around 2 years. I have applied my knowledge and skills in a number of different contexts such as personal projects, Quality Control Analysis role, as well
                    as my most recent role at Medwise with webscraping and development and research of Machine Learning models.
                  </p>
                </div>
                
                <button class="accordion" style="font-weight: 700; font-size: medium;">Why are you interested in the medical industry ?</button>
                <div class="panel">
                  </br>
                  <p>
                    I think that the medical industry has one of the most massive movements of data when compared to any other industry. There is so much potenial to use that data for alot of good,
                    which is why I am doing my internship with Medwise, the uses for the data is almost endless and I continually see so many ways that the implementation of Data Science can be 
                    a powerful and game changing tool to really bring about alot of good and make a difference within the Medical industry.
                  </p>
                </div>
                
                <button class="accordion" style="font-weight: 700; font-size: medium;">What kind of Machine Learning projects do you enjoy doing ? </button>
                <div class="panel">
                  </br>
                  <p>
                      I really enjoy porjects involving NLP as I find Neural Networks really interesting. That being said I will always prefer Machine Learning projects that can make an actual difference. Where the results have real life applications and the results of which can be used after, and for further change.
                      I like to see the end goal of any Machine learning projects I do be more than just the output or accuracy, when the output and conclusion can be used for more I feel more passionate and interested. 
                  </p>
                </div>
                <button class="accordion" style="font-weight: 700; font-size: medium;"> Why and How did you make this website ?</button>
                <div class="panel">
                  </br>
                  <p>
                  I made this website to present some of my skills and knowledge, as well as to have a single place where people can access all of my details and contact me easily. I used Python Flask 
                  to develop and build the website alonside using my knowledge and tools such as Bootstrap, HTML, CSS and JavaScript to build the website.    
                  </p>
                </div>
                
                <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                      panel.style.maxHeight = null;
                    } else {
                      panel.style.maxHeight = panel.scrollHeight + "px";
                    } 
                  });
                }
                </script>  
                </body>
                </html>
        </div>
    </head>

</br></br></br></br>
{% endblock %}
