{% extends 'base.html'%}
{% block title %}Projects- Khalid Ghrarib{% endblock %}


{% block content%}

            <div class='container'>
                <h1 style="text-align: center; font-weight: 400;">My Projects</h1>

<br/><br/><br/>
<!-- Card(project1-Carribean Holiday Tour start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/Carribean_holiday3.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/Finding-Potential-Customers-to-advertise-Carribean-Holiday-Tour" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Carribean Holiday Tour</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">Hired by a Caribbean Holiday Operator who is looking to maximize customer conversion given limited marketing budget.
      The Data is from a taxonomy quiz where users choose images which corresponds to tags. 
      The aim is to find those users who are a good fit and are likely to purchase a caribbean holiday trip to focus our advertising to.
      <br/><br/>  
    <a href="https://github.com/KGharib/Finding-Potential-Customers-to-advertise-Carribean-Holiday-Tour" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project1-Carribean Holiday Tour end) -->

<!-- Card(project2-Life expectantcy start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/life_expectancy.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/How-does-Social-Environmental-factors-affect-Life-Expectancy-in-Counties-in-the-USA" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Predicting Life Expectancy in counties in the USA</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">As part of a consulting group, I was tasked with analyzing the results of a questionnaire and finding which Social environmental factor affected the life expectancy in different counties in the USA.
    The information would then be used further to help improve the life expectancy in each of those states by targeting those social environmental factors and focus on developing and improving them.
    <br/><br/>  
    <a href="https://github.com/KGharib/How-does-Social-Environmental-factors-affect-Life-Expectancy-in-Counties-in-the-USA" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project2-Life expectantcy end) -->

<!-- Card(project3-Amazon-Reviews start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/Amazon.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/Predicting-Sentiment-on-Amazon-Reviews" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>NLP- Predicting Sentiment on Amazon Reviews</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">Based on a large Amazon product and service review dataset, my aim was to be able to predict whether a review is positive or negative based on the context of the textual review. The implications would be
      that it could be used in future uses to predict sentiment of products and services outside of Amazon.
    <br/><br/>  
    <a href="https://github.com/KGharib/Predicting-Sentiment-on-Amazon-Reviews" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project3-Amazon-Reviews end) -->

<!-- Card(project4- NBA start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/NBA.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/Hypothesis-Testing-on-18-Seasons-of-NBA-Dataset" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Hypothesis Testing on NBA Season stats</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">NBA statistics Dataset which was found on kaggle.
       The goal was to answer 3 questions by applying statistical analysis and Hypothesis Testing. Examples of one of the questions was: </p>
      <ul>
        <l class="card-text">- Can we see a significant difference in player performance when playing Home vs Away?</l> 
      </ul>
    <br/>
    <a href="https://github.com/KGharib/Hypothesis-Testing-on-18-Seasons-of-NBA-Dataset" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project4-NBA end) -->

<!-- Card(project4-Football start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/football2.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/Analysing-and-Predicting-Win-Loss-for-Premier-League-Bundesliga-Games" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Predicting Wins and losses in Football Leagues</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">Based on a Dataset of Football season Statics I aimed to predict which teams would win and lose depending on a multitude
     of feature variables.
    <br/><br/>  
    <a href="https://github.com/KGharib/Analysing-and-Predicting-Win-Loss-for-Premier-League-Bundesliga-Games" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project4-football end) -->

<!-- Card(project5-webscraping start) -->
<div class="card card-cascade wider reverse">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{url_for('static', filename='media/ws.jpg')}}"
      alt="Card image cap">
    <a href="https://github.com/KGharib/Worldometer_Info_webscrape" target="_blank">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Webscraping</strong></h4>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">I have a few webscraping projects dealing with extracting data in an organised and structured format in order to apply further analysis and Machine Learning. You can look at each one from the github link below.
    <br/><br/>  
    <a href="https://github.com/KGharib/Worldometer_Info_webscrape" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
    <a href="https://github.com/KGharib/Computer_deals_webscrape" class="px-2 fa-lg li-ic" target="_blank">
      <i class="fab fa-github" style="color: black; font-size: 1cm;"></i></a>
  </div>
</div>
<br/><br/>
<!-- Card (project5-webscraping end) -->



            </div>
      <main>
        {% block main %}{% endblock %}
      </main>

{% endblock %}